/vendor/
/release/
/sql/
services/APIKeyService.php
services/AQIQueryService.php
services/MemcachedService.php
taiwanaqi_server.php
schedule.bat
release.bat
process_api_key.php
index.php
index_guidance_mapping.php
fetch_aqi.php
database.php
console.php
config.php
apply_api_key.php
api.php
.htaccess
